* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    scroll-behavior: smooth;
    background: url('./unsplash.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    border: 1px solid #29465b80;
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb {
    background: #29465B;
    border-radius: 100vw;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.about {
    width: 100vw;
    padding: 100px 200px;
}

.account {
    display: grid;
    grid-template-columns: auto 500px;
    grid-template-rows: 1fr;
    width: 100vw;
    height: 100vh;
    user-select: none;
}

.account-background {
    background: url("../../images/image/login-background.png") no-repeat left center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.account-main-container {
    width: 500px;
    display: grid;
    place-content: center;
}

.account-main {
    height: 100%;
    margin: 0 0 200px 0;
}
.account-main h1 {
    font-size: 48px;
    margin: 0 0 50px 0;
}
.account-main input:focus {
    border: none;
}
.account-main div form {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.account-main div form a {
    text-decoration: underline;
}

.App {
    width: 100%;
}
.user-icon-bg-btn {
    background: no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    margin: 10px;
    padding: 0;
}
.project-detail-body-foot-comment .user-icon-bg-btn {
    background: no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    margin: 10px 0px;
    padding: 0;
}


.edit-profile-header {
    display: flex;
    gap: 56px;
    width: auto;
    margin: 30px;
    padding: 30px;
}

.edit-profile-photo {
    background: white;
    border: 1px solid black;
    border-radius: 100%;
    height: 200px;
    width: 200px;
    position: relative;
    overflow: hidden;
}

.edit-profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.edit-profile-photo input {
    position: absolute;
    top: 0;
    left: 0;
}

.edit-background-image {
    flex: 1 1 auto;
    height: 200px;
    background: #ccc;
    position: relative;
    overflow: hidden;
}

.edit-background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.edit-background-image input {
    position: absolute;
    left: 0;
    top: 0;
}

.edit-button {
    position: absolute;
    bottom: 0;
    left: -10px;
    width: 100%;
    padding: 10px;
    /* transform: translateX(-50%); */
    text-align: center;
    cursor: pointer;
    background: rgba(0,0,0, .1);
}

.edit-button:hover {
    opacity: .8;
}

.edit-profile-content-wrapper {
    display: flex;
    margin: 0 30px;
    padding: 0 30px;
    gap: 40px;
}

.edit-profile-social {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.edit-profile-social .label {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}

.edit-profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 40px;
}

.input-li-container-top-2 {
    margin: 24px 0 24px 40px;
}
.upload-btn-li-2 {
    background-color: #29465B;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 15px;
    display: flex;
    text-align: center;
    align-items: flex-start;
    width: fit-content;
    margin: 15px 0 0 0;
}

.input-li-container-top-2 .input-li-container #input-link-each {
    display: flex;
    gap: 10px;
    margin: 5px 0 0 0;
}
.input-li-container-top-2 .input-li-container #input-link-each input {
    background-color: transparent;
    height: 31px;
}
.input-li-container-top-2 .input-li-container #input-link-each input:hover {
    border: 1px solid black;
}
.input-li-container-top-2 .input-li-container #input-link-each input:focus {
    border: 2px solid rgb(0, 87, 201);
}

.edit-profile-info .label {
    font-weight: bold;
    font-size: 18px;
}
.edit-skills-wrapper form input {
    background-color: transparent;
    height: 35px;
    min-width: 450px;
}
.edit-skills-wrapper form button {
    margin: 0 0 0 -34px;
}

.edit-profile-info input {
    padding: 4px 8px !important;
    width: 300px;
}

#input-link-each {
    margin-left: 40px;
}

.input-li-container-top-2 .input-li-container #input-link-each input {
    border: 1px solid rgb(196, 196, 196);
    border-radius: 4px;
}

.input-link-each-name p,
.input-link-each-url p {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.edit-skills-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
    margin-top: 24px;
}

.edit-skills-wrapper .label {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}

.edit-skills-wrapper form {
    display: flex;
    align-items: flex-end;
}

.edit-skills-wrapper form input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 8px;
    height: 31px;
    
}

.edit-skills-wrapper button {
    font-size: 40px;
    height: 35px;
    cursor: pointer;
    line-height: 1;
    color: #aaa;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.edit-skills-wrapper button:hover {
    opacity: .8;
}

#outlined-multiline-static {
    width: 300px;
}

.edit-profile-submit {
    display: flex;
    margin: 40px;
    gap: 20px;
    justify-content: flex-end;
}

.edit-profile-submit a {
    font-size: 20px;
    padding: 10px 50px;
    border: 1px solid #29465B;
    border-radius: 50px;
}

.edit-profile-submit button {
    background-color: #29465B;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 50px;
    display: flex;
    text-align: center;
    align-items: flex-start;
    width: fit-content;
}

.edit-profile-submit a:hover,
.edit-profile-submit button:hover {
    opacity: .8;
}

.home {
    margin: 0 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .home-link {
    display: none;
}

.po-li-cy {
    width: 100vw;
    padding: 100px 200px;
}

.profile {
    display: flex;
}

.profile-content-area {
    padding: 360px 30px 30px 30px;
    /* min-width: 700px;
    max-width: 100%; */
    width: 100%;
}

.profile-content-area p {
    text-align: left;
    margin-bottom: 40px;
}

.profile-content-area button p {
    margin-bottom: 0;
}

.profile-content-area .user-card-container p,
.profile-content-area .project-detail-body-foot-user p {
    margin-bottom: 0;
    text-align: center;
}

.profile-content-area h4 {
    margin-bottom: -10px;
}

.ProfileCategory {
    list-style: none;
    padding: 0;
    display: flex;
    margin-bottom: 20px;
}

.ProfileCategory li {
    padding: 8px 16px;
    border-radius: 20px;
    margin: 16px 48px 16px 0;
    }

.ProfileCategory li:hover:not(.active) {
    cursor: pointer;
    background-color: #29465B;
    color: white;
}

.ProfileCategory li.active {
    color: white;
    background-color: #29465B;
}

.about-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}

.skill-item {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 4px 8px;
    margin-right: 16px;
    border-radius: 6px;
}

.profile-social {
    flex: 0 1 auto;
    min-width: 200px;
}

.profile-social a {
    text-decoration: underline;
    color: #29465B;
}

.profile-social a:hover {
    opacity: .8;
}

.profile-info {
    flex: 1 1 auto;
    min-width: 300px;
    max-width: 450px;
}

.profile .background-image {
    width: 100vw;
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 0;
    height: 250px;
    background: #ccc;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.profile .background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


.uploadpage {
    margin: 0 20px;
    text-align: left;
    user-select: none;
}

.uploadpage h3 {
    margin: 100px 0 0 0;
    text-align: center;
    font-size: 35px;
}


.uploadpage input, textarea, select {
    height: 35px;
    width: 500px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 3px;
    font-size: 18px;
    padding: 0 10px;
    background-color: transparent;
}
.uploadpage input:focus {
    border: 1px solid rgb(128, 128, 128);
    outline:none;
}

.upload {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0 0 0;
    padding: 0 100px;
    width: 100%;

}
.upload-text {
    width: 60%;
    user-select: none;
}
.upload-text div p {
    margin: 20px 0 5px 0;
    font-weight: 600;
    font-size: 18px;
}

.upload-btn-li,
.upload-btn-sec {
    background-color: #29465B;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 15px;
    display: flex;
    text-align: center;
    align-items: flex-start;
    width: fit-content;
    margin: 15px 0 0 40px;
}

.option {
    height: 35px;
    width: 200px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 3px;
    padding: 0 5px;
    font-size: 18px;
}
.option:focus {
    border: 1px solid rgb(128, 128, 128);
    outline:none;
}

.tag-form {
    display: flex;
    align-items: center;
}
.tag-form button {
    margin: 0 0 0 -32px;
    font-size: 30px;
    font-weight: 600;
}
.tag-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;
    width: 500px;
}

.input-li-container-top {
    margin: 20px 0 40px 0;
}
.input-li-container {
    margin: 0 0 20px 0;
}

.input-li-container-top .input-li-container #input-link-each {
    display: flex;
    gap: 10px;
    margin: 5px 0 0 0;
}

.form-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px auto;
    max-width: 500px;
    width: 40%;
}
.form-action-link {
    background-color: #29465B;
    border-radius: 50px;
    color: black;
    border: none;
    text-decoration: none;
    height: 40px;
    width: 100px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    display: grid;
    place-content: center;
}

.form-action button {
    border-radius: 50px;
    background-color: #29465B;
    height: 40px;
    width: 100px;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.upload-img-container {
    min-width: 410px;
    width: 40%;
    min-height: 200px;
    margin: 40px 0;
}
.upload-img {
    border: 1px dashed black;
    border-radius: 10px;
    width: 100%;
    min-height: 200px;
    margin: 0;
}
.upload-img input {
    width: 400px;
    border: none;
    margin: 10px 0 0 0;
}
.input-img {
    background-color: transparent;
    font-size: 20px;
    
}
.upload-img img {
    width: 150px;
    height: 150px;
}
.image-preview {
    display: flex;
    background-color: transparent;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    font-weight: 600;
    font-size: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}
.image-preview-choices {
    border: 2px solid #29465B;
    border-radius: 10px;
    position: relative;
    margin: 5px;
    padding: 0 0;
}
.image-remove {
    color: black;
    background-color: lightgrey;
    border: none;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: grid;
    place-content: center;
    margin: 0 0 -20px auto;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    font-weight: 600;
}
.image-remove:hover {
    cursor: pointer;
}
.image-lala {
    border-radius: 10px;
    margin: 0 0;
}


.term-of-services {
    width: 100vw;
    padding: 100px 200px;
}


/* .UserSetUpPage {
    
} */

.UserSetUpPage h1 {
    font-size: 34px;
    margin: 0 0 20px 0;
    letter-spacing: 0;
    line-height: 40px;
}
.UserSetUpPage h3 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.UserSetUpPage form button {
    background-color: #29465B;
}
